.web-app {
  width: 100%;
  padding: 5rem 1.5rem;
}

@media screen and (min-width: 375px) {
  .web-app {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .web-app {
    max-width: 768px;
  }
}

@media screen and (min-width: 992px) {
  .web-app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    max-width: 992px;
  }
}

@media screen and (min-width: 1158px) {
  .web-app {
    max-width: 1200px;
  }
}